Exemplos/WebService1Cliente/src/wsdl/localhost_8080/WebService1/AloMundoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servico.webservice1.extensao.facin/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servico.webservice1.extensao.facin/">

<xs:element name="getSaudacao" type="tns:getSaudacao"/>

<xs:element name="getSaudacaoResponse" type="tns:getSaudacaoResponse"/>

<xs:element name="saudar" type="tns:saudar"/>

<xs:element name="saudarResponse" type="tns:saudarResponse"/>

<xs:complexType name="saudar">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saudarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSaudacao">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSaudacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>